@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Nunito:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-like: #D7443E;

  --color-primary: #5746af;

  --color-brand-1: #4263EB;
  --color-brand-2: #364FC7;

  --color-grey-0: #0A0C0D;
  --color-grey-1: #212529;
  --color-grey-2: #495057;
  --color-grey-3: #868E96;
  --color-grey-4: #DEE2E6;
  --color-grey-5: #F8F9FA;
  --color-grey-6: #EDF2FF;

  --color-grey-opacity-1: rgba(33, 37, 41, 0.5);
  
  --color-white-fixed: #ffffff;

  --font-title-1: 3rem; /* 48px */
  --font-title-2: 2.375rem; /* 38px */
  --font-title-3: 1.75rem; /* 28px */ 
  --font-title-4: 1.25rem; /* 20px */

  --font-text-1: 1rem; /* 16px */
  --font-text-2: 0.875rem; /* 14px */
  --font-text-3: 0.75rem; /* 12px */

  --line-height-1: 2.5rem; /* 40px */
  --line-height-2: 1.75rem; /* 28px */
  --line-height-3: 1.5rem; /* 24px */
  --line-height-4: 1rem; /* 16px */

  --font-weight-1: 600;
  --font-weight-2: 500;
  --font-weight-3: 400;

  --radius-1: 0.25rem; /* 4px */
  --radius-2: 0.5rem; /* 8px */

  --size-1: 3.5rem; /* 56px */
  --size-2: 3rem; /* 48px */
  --size-3: 2.25rem; /* 36px */
  --size-4: 1.75rem; /* 28px */

  --padding-0: 3rem; /* 48px */
  --padding-1: 1.75rem; /* 28px */ 
  --padding-2: 1.25rem; /* 20px */ 
  --padding-3: 1rem; /* 16px */ 
  --padding-4: 0.75rem; /* 12px */   
  --padding-5: 0.5rem; /* 8px */   

  --paddingInlineButton: 2rem; /* 32px */
  --paddingLeft: 1.375rem; /* 22px*/

  --gap-0: 5rem; /* 80px */
  --gap-1: 2rem; /* 32px */
  --gap-2: 1.75rem; /* 28px */
  --gap-3: 1.5rem; /* 24px */
  --gap-4: 1.25rem; /* 20px */
  --gap-5: 1rem; /* 16px */
  --gap-6: 0.5rem; /* 8px */

  --font-family-1: "Inter", sans-serif;
  --font-family-2: "Nunito", sans-serif;

  --container-1: 75rem; /* 1200px */
  --container-2: 56.25rem; /* 900px */
}

body{
  font-family: var(--font-family-1);
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.container {
  max-width: var(--container-1);
  margin: 0 auto;
}

.font-family-1 {
  font-family: var(--font-family-1);
}

.font-family-2 {
  font-family: var(--font-family-2);
}
