.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.flex-col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.absolute {
  position: absolute;
  top: 120px;
  left: 0;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;  
}

.left-1 {
  left: 65%;
}

.top-1 {
  top: 5rem;
}

.relative {
  position: relative;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.sticky {
  position:-webkit-sticky; 
  position:sticky; 
  top:400px;  
  /* z-index: 1; */
  /* position: sticky;
  top: var(--gap-0); */
  /* top: var(--gap-0); */
}

.gap-0 {
  gap: var(--gap-0)
}

.gap-1 {
  gap: var(--gap-1)
}

.gap-2 {
  gap: var(--gap-2)
}

.gap-3 {
  gap: var(--gap-3)
}

.gap-4 {
  gap: var(--gap-4)
}

.gap-5 {
  gap: var(--gap-5)
}

.gap-6 {
  gap: var(--gap-6)
}