.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.width-section {
  width: 80%;
}

.width-modal-1 {
  width: 50%;
}

.width-modal-2 {
  width: 40%;
}

.width-modal-button-1 {
  width: 100px;
}

.width-screen {
  width: 100vw;
}

.height-screen {
  height: 100vh;
}

.height-button-1 {
  height: var(--size-3);
}
